## Amazon Product Listing EDA
-----

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv('amazon-products.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Uniq Id            30000 non-null  object
 1   Crawl Timestamp    30000 non-null  object
 2   Pageurl            30000 non-null  object
 3   Website            30000 non-null  object
 4   Title              30000 non-null  object
 5   Num Of Reviews     30000 non-null  int64
 6   Average Rating     30000 non-null  float64
 7   Number Of Ratings  12843 non-null  float64
 8   Model Num          4213 non-null   object
 9   Sku                29794 non-null  object
 10  Upc                0 non-null      float64
 11  Manufacturer       30000 non-null  object
 12  Model Name         30000 non-null  object
 13  Price              18668 non-null  object
 14  Monthly Price      0 non-null      float64
 15  Stock              30000 non-null  bool
 16  Carrier            1 non-null      object
 17  Color Category     18534 non-null  object
 18  Internal Memory    85 non-null     object
 19  Screen Size        270 non-null    object
 20  Five Star          12081 non-null  float64
 21  Four Star          8962 non-null   float64
 22  Three Star         7770 non-null   float64
 23  Two Star           6462 non-null   float64
 24  One Star           7981 non-null   float64
dtypes: bool(1), float64(9), int64(1), object(14)
memory usage: 5.5+ MB

In [44]:
df.head()

,Uniq Id,Crawl Timestamp,Pageurl,Website,Title,Num Of Reviews,Average Rating,Number Of Ratings,Model Num,Sku,...,Stock,Carrier,Color Category,Internal Memory,Screen Size,Five Star,Four Star,Three Star,Two Star,One Star
0,850d37ddfe7b8c4e22658a8338c5b655,2020-10-13 10:19:24 +0000,https://www.amazon.com/dp/B06XDBD9T9/?th=1&psc=1,Amazon.com,Visit the Visbiome Store Visbiome® High Potenc...,0,4.5,970.0,NaN,B06XDBD9T9,...,False,NaN,NaN,NaN,NaN,767.0,88.0,59.0,20.0,49.0
1,f73411fe6b48443c32b62ca690ec2f59,2020-10-02 20:51:21 +0000,https://www.amazon.com/dp/B089YYTJ86?th=1&psc=1,Amazon.com,Occus Parts & Accessories UDI i20 i21 RC Quadc...,0,0.0,NaN,NaN,B089YYTJ86,...,True,NaN,Receiver bracket,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,140b75e4d7f9218f9ac62886a76c0e1f,2020-10-07 21:12:41 +0000,https://www.amazon.com/dp/B08H8JY4TF?th=1&psc=1,Amazon.com,TemUnique Leather Cover Compatible with Samsun...,0,0.0,NaN,yixin13772,B08H8JY4TF,...,False,NaN,Purple,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8e8321a62e5f130e422461a24addfd2f,2020-10-24 07:56:24 +0000,https://www.amazon.com/dp/B07P7553PY?th=1&psc=1,Amazon.com,DalaB kiss Heart Love Cute Bear Unicorn Acryli...,0,0.0,NaN,NaN,B07P7553PY,...,True,NaN,1060309001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,dfac38b56009dd6f2bd01bfa814ae932,2020-10-07 14:37:11 +0000,https://www.amazon.com/dp/B07PZV2ZK6?th=1&psc=1,Amazon.com,Visit the HAVASU NUTRITION Store Havasu Nutrit...,0,4.8,2743.0,NaN,B07PZV2ZK6,...,False,NaN,Kids,NaN,NaN,2332.0,247.0,83.0,28.0,55.0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Uniq Id            30000 non-null  object
 1   Crawl Timestamp    30000 non-null  object
 2   Pageurl            30000 non-null  object
 3   Website            30000 non-null  object
 4   Title              30000 non-null  object
 5   Num Of Reviews     30000 non-null  int64
 6   Average Rating     30000 non-null  float64
 7   Number Of Ratings  12843 non-null  float64
 8   Model Num          4213 non-null   object
 9   Sku                29794 non-null  object
 10  Upc                0 non-null      float64
 11  Manufacturer       30000 non-null  object
 12  Model Name         30000 non-null  object
 13  Price              18668 non-null  object
 14  Monthly Price      0 non-null      float64
 15  Stock              30000 non-null  bool
 16  Carrier            1 non-null      object
 17  Color Category     18534 non-null  object
 18  Internal Memory    85 non-null     object
 19  Screen Size        270 non-null    object
 20  Five Star          12081 non-null  float64
 21  Four Star          8962 non-null   float64
 22  Three Star         7770 non-null   float64
 23  Two Star           6462 non-null   float64
 24  One Star           7981 non-null   float64
dtypes: bool(1), float64(9), int64(1), object(14)
memory usage: 5.5+ MB

In [46]:
#df.drop( 'Crawl Timestamp',axis=1,inplace= True)
df.drop('Pageurl', axis=1, inplace=True)
df.drop('Website', axis=1, inplace=True)
df.drop('Monthly Price', axis=1, inplace=True)
df.drop('Carrier', axis=1, inplace=True)
df.drop('Internal Memory', axis=1, inplace=True)
df.drop('Screen Size', axis=1, inplace=True)
df.drop('Upc', axis=1, inplace=True)

In [47]:
df.head()

,Uniq Id,Crawl Timestamp,Title,Num Of Reviews,Average Rating,Number Of Ratings,Model Num,Sku,Manufacturer,Model Name,Price,Stock,Color Category,Five Star,Four Star,Three Star,Two Star,One Star
0,850d37ddfe7b8c4e22658a8338c5b655,2020-10-13 10:19:24 +0000,Visit the Visbiome Store Visbiome® High Potenc...,0,4.5,970.0,NaN,B06XDBD9T9,Visit the Visbiome Store Visbiome® High Potenc...,Visit the Visbiome Store Visbiome® High Potenc...,NaN,False,NaN,767.0,88.0,59.0,20.0,49.0
1,f73411fe6b48443c32b62ca690ec2f59,2020-10-02 20:51:21 +0000,Occus Parts & Accessories UDI i20 i21 RC Quadc...,0,0.0,NaN,NaN,B089YYTJ86,Occus Parts & Accessories UDI i20 i21 RC Quadc...,Occus Parts & Accessories UDI i20 i21 RC Quadc...,18.69,True,Receiver bracket,NaN,NaN,NaN,NaN,NaN
2,140b75e4d7f9218f9ac62886a76c0e1f,2020-10-07 21:12:41 +0000,TemUnique Leather Cover Compatible with Samsun...,0,0.0,NaN,yixin13772,B08H8JY4TF,TemUnique Leather Cover Compatible with Samsun...,TemUnique Leather Cover Compatible with Samsun...,NaN,False,Purple,NaN,NaN,NaN,NaN,NaN
3,8e8321a62e5f130e422461a24addfd2f,2020-10-24 07:56:24 +0000,DalaB kiss Heart Love Cute Bear Unicorn Acryli...,0,0.0,NaN,NaN,B07P7553PY,DalaB kiss Heart Love Cute Bear Unicorn Acryli...,DalaB kiss Heart Love Cute Bear Unicorn Acryli...,14.89,True,1060309001,NaN,NaN,NaN,NaN,NaN
4,dfac38b56009dd6f2bd01bfa814ae932,2020-10-07 14:37:11 +0000,Visit the HAVASU NUTRITION Store Havasu Nutrit...,0,4.8,2743.0,NaN,B07PZV2ZK6,Visit the HAVASU NUTRITION Store Havasu Nutrit...,Visit the HAVASU NUTRITION Store Havasu Nutrit...,NaN,False,Kids,2332.0,247.0,83.0,28.0,55.0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Uniq Id            30000 non-null  object
 1   Crawl Timestamp    30000 non-null  object
 2   Title              30000 non-null  object
 3   Num Of Reviews     30000 non-null  int64
 4   Average Rating     30000 non-null  float64
 5   Number Of Ratings  12843 non-null  float64
 6   Model Num          4213 non-null   object
 7   Sku                29794 non-null  object
 8   Manufacturer       30000 non-null  object
 9   Model Name         30000 non-null  object
 10  Price              18668 non-null  object
 11  Stock              30000 non-null  bool
 12  Color Category     18534 non-null  object
 13  Five Star          12081 non-null  float64
 14  Four Star          8962 non-null   float64
 15  Three Star         7770 non-null   float64
 16  Two Star           6462 non-null   float64
 17  One Star           7981 non-null   float64
dtypes: bool(1), float64(7), int64(1), object(9)
memory usage: 3.9+ MB

In [49]:
df.dtypes

Uniq Id               object
Crawl Timestamp       object
Title                 object
Num Of Reviews         int64
Average Rating       float64
Number Of Ratings    float64
Model Num             object
Sku                   object
Manufacturer          object
Model Name            object
Price                 object
Stock                   bool
Color Category        object
Five Star            float64
Four Star            float64
Three Star           float64
Two Star             float64
One Star             float64
dtype: object

In [50]:
df['Price'] = df.Price.str.replace(',','')
df['Price'] = df.Price.str.replace('.','')

<ipython-input-50-1c7a18db5587>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Price'] = df.Price.str.replace('.','')

In [52]:
 df['Price'] = df['Price'].astype(float)

In [55]:
df.dtypes

Uniq Id               object
Crawl Timestamp       object
Title                 object
Num Of Reviews         int64
Average Rating       float64
Number Of Ratings    float64
Model Num             object
Sku                   object
Manufacturer          object
Model Name            object
Price                float64
Stock                   bool
Color Category        object
Five Star            float64
Four Star            float64
Three Star           float64
Two Star             float64
One Star             float64
dtype: object

In [59]:
df[df.duplicated()]

Empty DataFrame
Columns: [Uniq Id, Crawl Timestamp, Title, Num Of Reviews, Average Rating, Number Of Ratings, Model Num, Sku, Manufacturer, Model Name, Price, Stock, Color Category, Five Star, Four Star, Three Star, Two Star, One Star]
Index: []

In [61]:
df[df.isnull()]

,Uniq Id,Crawl Timestamp,Title,Num Of Reviews,Average Rating,Number Of Ratings,Model Num,Sku,Manufacturer,Model Name,Price,Stock,Color Category,Five Star,Four Star,Three Star,Two Star,One Star
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
for col in df.columns :
    missing = np.mean(df[col].isnull()) * 100
    print(f'{col} - {round(missing,2)}%')

Uniq Id - 0.0%
Crawl Timestamp - 0.0%
Title - 0.0%
Num Of Reviews - 0.0%
Average Rating - 0.0%
Number Of Ratings - 57.19%
Model Num - 85.96%
Sku - 0.69%
Manufacturer - 0.0%
Model Name - 0.0%
Price - 37.77%
Stock - 0.0%
Color Category - 38.22%
Five Star - 59.73%
Four Star - 70.13%
Three Star - 74.1%
Two Star - 78.46%
One Star - 73.4%